# All settings are optional. Defaults shown.
GRIDSHIFT_ENERGY_CHARTS_URL=https://api.energy-charts.info
GRIDSHIFT_HTTP_TIMEOUT_S=10
GRIDSHIFT_MAX_RETRIES=3
GRIDSHIFT_CACHE_TTL_S=900
GRIDSHIFT_LOG_LEVEL=INFO
GRIDSHIFT_CACHE_MAX_STALE_S=21600
GRIDSHIFT_UPSTREAM_MIN_INTERVAL_S=1.0
GRIDSHIFT_CORS_ORIGINS=["http://localhost:3000"]
